# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!/NuGet.Config
!/Directory.Build.props
!/Directory.Build.targets
!/build.sh

## Markdowns
!*.md
!/LICENSE
!/licenses

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Libraries
!/libs

## Solution
!team-upgrades.sln

### Projects
!/team-upgrades
/team-upgrades/[Bb]in
/team-upgrades/[Oo]bj
/team-upgrades/[Dd]ist

# Explicit exceptions/ignores
**.user
**.local
!**.template.*.user
